body{font-family:arial,sans-serif;
     background-color:#2220b6;
     color:rgb(42, 144, 233);
     margin:0;
     padding:0%;}
    
header{background-color:#098f1b;
       padding:20px;
       text-align:center;}

h1{margin:0;
   font-size:2em;}

.categoria {margin:30px;}

.categoria h2{border-bottom:2px solid #8a1d1d;
              padding-bottom:10px;
              color:#ffcc00;}

.filmes{display:flex ;
        flex-wrap:wrap;
        gap: 20px;
        margin-top:20px;}

.filme{background-color:#ac0909;
       padding: 10px;device-width
       border-radius:8px;
       width:180px;
       text-align:center;}

.filme img{width:100% ;
           border-radius:5px;}

.imagem {width: 10%;}