body{font-family:arial,sans-serif;
     background-color:#121212;
     color:aliceblue;
     margin:0;
     padding:0%;}
    
header{background-color:#1f1f1f;
       padding:20px;
       text-align:center;}

h1{margin:0;
   font-size:2em;}

.categoria {margin:30px;}

.categoria h2{border-bottom:2px solid #444;
              padding-bottom:10px;
              color:#ffcc00;}

.filmes{display:flex ;
        flex-wrap:wrap;
        gap: 20px;
        margin-top:20px;}

.filme{background-color:#1e1e1e;
       padding: 10px;
       border-radius:8px;
       width:180px;
       text-align:center;}

.flime img{width:100% ;
           border-radius:5px;}